@import url('https://fonts.googleapis.com/css2?family=Labrada:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap');

font-family: "Labrada", serif;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.box { border: 2px solid black;
    border-radius: 5px;
    margin: 20px auto;
    padding: 10px;
    text-align: center;
    width: 500px;
    box-shadow: none;
}
.box img{
   
    margin: 20px 0px 20px;
    width: 100%;
}
.box{
    width: 100%;
    height: 100vh;
    background-image: url(ilaan3.jpg);
    background-position: center;
    background-size: cover;
    padding-left: 80px;
    padding-right: 80px;
   
}
.box h1{

    color: rgb(144, 98, 42);
   text-shadow: 1px 1px 1px white;
   word-spacing: 100px;
   letter-spacing:5px;
   font-size: 70px;
   margin-top: 30px;
  
}
.box h2 {
    font-family: "MuseoModerno", sans-serif;
    color: rgb(144, 98, 42);
    word-spacing: 100%;
    font-size: 30px;
 }
 .box p{
    margin-top: 50px;
    margin-bottom: 40px;
    font-family: "MuseoModerno", sans-serif;
    color: rgb(192, 106, 2);
    font-size: 20px;
    font-weight: bold; 
 }
 .metn {
    color: brown;
    text-shadow: 2px 2px 2px rgb(118, 23, 23);
 }
 .klik {
    color: rgb(239, 227, 227);
    background-color: rgb(134, 71, 71);
    box-shadow: 0 10px 10px 0 rgb(107, 31, 31);
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 20px;
    width: 100px;
    height: 50px;
 }
 .box2{
    width: 100%;
    height: 200vh;
    background-color: blanchedalmond;
    background-position: center;
    background-size: cover;   
    padding-left:80px ;
    padding-right:80px ;
 }
 .box2 h1 {
    font-family: "MuseoModerno", sans-serif;
    color: rgb(0, 0, 0);
    font-size:30px ;
    font-weight:bold ;
    text-shadow: 1px 1px 1px;
 }
 .box2 p{
    font-family: "Labrada", serif;
    color:black;
    font-size: 20px;
 }
 .metn2 {
    color: rgba(0, 0, 0, 0.773);
    font-weight: bold;
 }
.metn3{
    font-family: "Labrada", serif;
    color:black;
    font-size: 20px;

}
 .box2 img{
     margin: 50px 0px 50px;
    width: 35%;
    height: 15%;
   }
   
 .box2 h1{
    font-family: "Labrada", serif;
    color: black;
    font-size: 30px;
   
 }
 .box2 p{
    font-family: "Labrada", serif;
    color:black;
    font-size: 20px;
 }
 .box2 img{
    width: 35%;
    height: 15%;
 }
   
 